.chatList {
  flex: 4 1 0;
  overflow-y: auto;
}

.header {
  padding: 20px;
  color: #2196f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btnNewChat {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2196f3;
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.btnRandomMessages {
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
}

.chatItem {
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.chatDialog {
  flex: 6 1 0;
  height: 100vh;
}
.nameText {
  text-align: left;
  max-width: 340px;
}

.lastMessageText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.noResults {
  color: #2196f3;
  font-weight: 500;
}

.btnClose {
  padding: 10px;
  color: #2196f3;
  border: 1px solid #2196f3;
  border-radius: 4px;
  margin-top: 20px;
}

.btnClose:hover,
.btnClose:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
}
